.input_box{
  position:relative;
}
.input_box input{
  outline: none;
  background-color: transparent;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #000;
}
.input_box input:focus{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
}
.input_box label{
  position: absolute;
  top: 0;
  padding: 10px;
  pointer-events: none;
  transition: 0.5s;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}
.input_box input:focus{
  box-shadow: none;
}
.input_box input:hover~ label{
  color: #90a4ae;
}
.input_box input:valid ~ label,
.input_box input:focus ~ label
{
  transform: translateX(10px)translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.signin_submit:hover{
  background-color: #b0bec5;
}
.signin_section{
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}