.searcIcon{
    border: 1px solid rgb(2, 2, 2  ,0.1);
    border-radius:  5px 0 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-right: none;
    background-color: #fff;
}
.searchFormInput{
    border-radius: 0 5px 5px 0; 
    border: 1px solid rgb(2, 2, 2  0.5);
    border-left: none;
}
.searchFormInput:focus{
    padding-left: 20px;
}
.sticky-top{
    position: fixed;
    min-width: 81vw;
    top: 0;
    background-color: #ffffffea;
    backdrop-filter: blur(10px);
    
}
